<% provide(:title, "City") %>
<h1>Choose your city</h1>

<div class="field">
  <div class="span3 offset4">
    <%= form_for([current_user, @map]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :city_name, "City Name" %>
      <%= f.text_field :city_name %>
  </div>

  <br><br><br><br><br>
  <div id="choose_map">
    <div id="myCarousel" class="carousel slide">

      <!-- indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" ></li>
        <li data-target="#myCarousel" data-slide-to="1" ></li>
        <li data-target="#myCarousel" data-slide-to="2" ></li>
      </ol>
    
      <!-- define carousel items -->
      <div class="carousel-inner">
        
        <div class="item active">
          <div class="item-pix">
            <%= image_tag("SF_map.svg", alt: "San Francisco") %>
          </div>

          <!-- center text in a container tag -->
          <!-- <div class="container">
            <div class="carousel-caption">
              <h1>My Heading Text</h1>
              <p>Text that will appear under each picture</p>
            </div>
          </div> -->
        </div>

        <div class="item">
          <div class="item-pix">
            <%= image_tag("1_map.svg", alt: "random city") %>
          </div>

          <!-- center text in a container tag -->
         <!--  <div class="container">
            <div class="carousel-caption">
              <h1>My Heading Text</h1>
              <p>Text that will appear under each picture</p>
            </div>
          </div> -->
        </div>

        <div class="item">
          <div class="item-pix">
            <%= image_tag("2_map.svg", alt: "random city") %>
          </div>

          <!-- center text in a container tag -->
          <!-- <div class="container">
            <div class="carousel-caption">
              <h1>My Heading Text</h1>
              <p>Text that will appear under each picture</p>
            </div>
          </div> -->
        </div>

      </div>

      <!-- controller buttons -->
      <a href="#myCarousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
      </a>

      <a href="#myCarousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>


   <div class="field" style="visibility:hidden">

    <%= f.text_field :user_id, disabled: true %>
  </div>
  <div class="choose-btn">
    <%= f.submit "Choose", class: 'btn btn-large btn-primary' %>
  </div>
  <% end %>
</div>
